**__pycache__
**.pyc
**.npy
**.csv
**catboost_info
*cb_model.json

myenv
newenv
penv36

dist
build

.*
*.egg-info

data
**output
results
supplemental
temp_output2

notes

trex/models/liblinear/*.o
trex/models/liblinear/train
trex/models/liblinear/predict